{% extends "base.html" %}



{% block exportacion %}

   <div id="exportacion">


       <a href="javascript:void(0)" title="Imprimir Reporte" onclick="printPage()"><img src="{{STATIC_URL}}images/Print-icon.png"></a>

        <a href="/exportarAPdf" title="Ver Reporte en PDF" target="_blank"><img src="{{STATIC_URL}}images/pdf-ico.png"></a>

       <a href="/exportarAXls" title="Descargar Reporte en Excel" target="_blank" ><img src="{{STATIC_URL}}images/microsoft-excel.png"></a>


{#       <a href="javascript:void(0)" title="Ver Gr&aacute;fico con las distintas promociones" onclick="mostrarGraficoPromociones()"><img src="{{STATIC_URL}}images/chart.png"></a>#}

   </div>

 {% endblock %}


{%block contenido  %}

    <style type="text/css">
            .container{
                margin-left: 0px;
                margin-top: 0px;
            }
            .ui-jqgrid .ui-jqgrid-view {
                font-size: 13px;
            }
            .ui-jqgrid .ui-jqgrid-htable th div {
                 height: 20px;
            }

            .ui-widget-content .rowClass { color: blue;  background-image: none; font-size:16px; !important;}

            #promocionSinResumir .ui-jqgrid-view  {
               font-size: 14px !important;
            }

            #promocionSinResumir .ui-jqgrid .ui-jqgrid-htable th div {
                 height: 22px;
            }
    </style>


{% if fechaDesde ==  fechaHasta%}
    <h3>{{tit}} de {{fechaHasta}} del {{codigoRemoto}}  </h3>

{% else %}
    <h3>{{tit}} desde {{fechaDesde}} hasta {{fechaHasta}} de {{codigoRemoto}}  </h3>

{% endif %}



<input type="text" id="tit" style="display:none" value={{titulo}} />

<div class="gruopingContent">
     <p>
        <ul>
            <li><label for="id_agruparPor_0">
                    <input id="id_agruparPor_0" name="agruparPor" type="radio" value="1" checked/>Todos
                </label>
            </li>

            <li><label for="id_agruparPor_1">
                    <input id="id_agruparPor_1" name="agruparPor" type="radio" value="2" /> Correctos
                </label>
            </li>

            <li><label for="id_agruparPor_2">
                    <input id="id_agruparPor_2" name="agruparPor" type="radio" value="3"/> Incorrectos
                </label>
            </li>
        </ul>
     </p>
 </div>

<main id="centroGrid">
<div id='promocionSinResumir' align="center">

    <table id="list" class="gridTotales"></table>
        <table id="gridpager" class="scroll" style="text-align: center;"> </table>
</div>

    <div id='gridAgrupadoPor' style="display:none;" align="center">

        <table id="listXAviso" class="gridTotales"></table>
    </div>

      <div id="result" align="center"></div>


</main>
<script type="text/javascript">
  //$(document).ready(function(){
    var agrupacion = $('#agrupacion').val();
    var tit = $('#tit').val();


    $("#list").jqGrid({
    url:'/json_CapturadoresIva/',
    datatype: 'json',
    mtype: 'GET',
    colNames:
    ["Cod Aviso",'Version', "Ag Cliente",  "Aviso", "Centimetros", "Valor sin Impuestos", "Orden Publicidad", "Forma Pago", "Tasa IVA", "Usuario", 'IVA'],
    colModel :[
      {name:'CodigoAviso',index:'CodigoAviso', width:100},
      {name:'revision',index:'revision', width:50},
      {name:'AgenciaCliente',index:'AgenciaCliente', width:200},

      {name:'Aviso',index:'Aviso', width:120

{#        cellattr: function (rowId, tv, rawObject, cm, rdata){#}
{#            if (rawObject != null){#}
{#                listaauxiliar.push(rawObject);#}
{#                codigoAvisoAuxiliar = rawObject.CodigoAviso;#}
{#                return ' onclick ="mostrarDetalleFila(event,' + '\'' +codigoAvisoAuxiliar + '\'' + ')" title="Click para ver detalles del aviso"  style="color:blue; cursor: pointer;" ';#}
{#            }#}
{#        }#}
      },
      {name:'centimetros',index:'centimetros', align:"center",sorttype:'number',formatter: currencyFmatter2, summaryType:'sum', width:100},
      {name:'ValorSinImpuestos',index:'ValorSinImpuestos', align:"center",sorttype:'number',formatter: currencyFmatter2, summaryType:'sum', width:100},
      {name:'OrdenPublicidad',index:'OrdenPublicidad', width:100},
      {name:'nombre',index:'nombre', width:100},
      {name:'TasaIVA',index:'TasaIVA', align:"center",sorttype:'number',formatter: currencyFmatter2, width:100},
      {name:'NombreUsuario',index:'NombreUsuario', width:150},

      {name:'verifica',index:'verifica', width:80}
    ],
    rowNum:-1,
    height: 'auto',
    pager: $('#gridpager'),

    sortorder: 'desc',
    viewrecords: true,
    grouping: true,
        groupingView :  {
        groupField : ['verifica'],
        groupColumnShow : [true],
        groupText : ['<b>{0}</b>'],
        groupCollapse : false,
        groupOrder: ['asc'],
        groupSummary : [true],
        showSummaryOnHide: true,
        groupDataSorted : true },
     footerrow: true,
     userDataOnFooter: true,
     caption: 'Control de Tasa de IVA'

  });



function currencyFmatter2 (cellvalue, options, rowObject)
{
   if (cellvalue == 0) {
        return '--';
   }else {
       return parseFloat(Math.round(cellvalue * 100) / 100).toFixed(2);
   }

}


jQuery("#list").jqGrid('navGrid','#list',{add:false,edit:false,del:false});

$('input:radio[name=agruparPor]').click(function() {
        var agrupacion = 1;
        if ($('input:radio[id=id_agruparPor_1]:checked').val()){
            agrupacion = 2;
        } else { if ($('input:radio[id=id_agruparPor_2]:checked').val()){
                    agrupacion = 3;
                }
        }
        if (agrupacion == 2  || agrupacion == 3) {
            if ($('#promocionSinResumir').is(':visible')){
                             $('#promocionSinResumir').hide();
            }
            console.log(agrupacion)
            $.ajax({
                url : "/capturadoresIva/formCapturadoresIva/",
                type : "POST",
                dataType: "json",
                data : {
                    iva : agrupacion,
                    tit: tit,

                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(json) {

                        var dataResult = json.result
                        obj = $.parseJSON(dataResult)
                        console.log(obj)
                        if (obj.length  == 0){
                            $('#result').text( 'No hay Avisos '+ json.tit);
                        }else {
                            $('#gridAgrupadoPor').show();

                            // ###############JqGrid de Cuenta Corriente resumido  por Ajax##########
                            $("#listXAviso").jqGrid({

                                datatype: 'local',
                                mtype: 'GET',
                                colNames: ["Cod Aviso", 'Version', "Ag Cliente", "Aviso", "Centimetros", "Valor sin Impuestos", "Orden Publicidad", "Forma Pago", "Tasa IVA", "Usuario"],
                                colModel: [
                                    {name: 'CodigoAviso', index: 'CodigoAviso', width: 100},
                                    {name: 'revision', index: 'revision', width: 50},
                                    {name: 'AgenciaCliente', index: 'AgenciaCliente', width: 200},

                                    {name: 'Aviso', index: 'Aviso', width: 120},
                                    {
                                        name: 'centimetros',
                                        index: 'centimetros',
                                        align: "center",
                                        sorttype: 'number',
                                        formatter: currencyFmatter2,
                                        summaryType: 'sum',
                                        width: 100
                                    },
                                    {
                                        name: 'ValorSinImpuestos',
                                        index: 'ValorSinImpuestos',
                                        align: "center",
                                        sorttype: 'number',
                                        formatter: currencyFmatter2,
                                        summaryType: 'sum',
                                        width: 100
                                    },
                                    {name: 'OrdenPublicidad', index: 'OrdenPublicidad', width: 100},
                                    {name: 'nombre', index: 'nombre', width: 100},
                                    {
                                        name: 'TasaIVA',
                                        index: 'TasaIVA',
                                        align: "center",
                                        sorttype: 'number',
                                        formatter: currencyFmatter2,
                                        width: 100
                                    },
                                    {name: 'NombreUsuario', index: 'NombreUsuario', width: 150}
                                ],
                                rowNum: -1,
                                height: 'auto',
                                sortorder: 'desc',
                                viewrecords: true,


                                footerrow: true,
                                userDataOnFooter: true,
                                //caption: 'Cuenta Corriente Resumido por ' + primeraColumna,
                                caption: 'Avisos ' + json.tit

                            });

                            var mydata = [];

                            var names = ["CodigoAviso", "revision", "AgenciaCliente", "Aviso", "centimetros",
                                "ValorSinImpuestos", "OrdenPublicidad", "nombre", "TasaIVA", "NombreUsuario"];
                            for (var i = 0; i < obj.length; i++) {
                                mydata[i] = {};
                                mydata[i][names[0]] = obj[i]['CodigoAviso'];
                                mydata[i][names[1]] = obj[i]['revision'];
                                mydata[i][names[2]] = obj[i]['AgenciaCliente'];
                                mydata[i][names[3]] = obj[i]['Aviso'];
                                mydata[i][names[4]] = obj[i]['centimetros'];
                                mydata[i][names[5]] = obj[i]['ValorSinImpuestos'];
                                mydata[i][names[6]] = obj[i]['OrdenPublicidad'];
                                mydata[i][names[7]] = obj[i]['nombre'];
                                mydata[i][names[8]] = obj[i]['TasaIVA'];
                                mydata[i][names[9]] = obj[i]['NombreUsuario'];

                            }


                            for (var i = 0; i <= mydata.length; i++) {
                                $("#listXAviso").jqGrid('addRowData', i + 1, mydata[i]);
                            }


                            $('#result').text('');
                        }
                    },
                    beforeSend: function(){
                        $('#listXAviso').jqGrid('GridUnload'); // Esto es para que recargue el grid con el contenido.
                         $('#grafico').hide();
                        $('#result').text( 'Aguarde...');

                    },
                    error : function(xhr,errmsg,err) {
                        //$('#barraProgreso').hide();
                        $('#result').text( '');
                        //alert(xhr.status + ": " + xhr.responseText); //debug = True
                        alert('Lo sentimos, ha sucedido un error para obtener los datos.');//debug = False
                    }

            });

        }else {
            if ($('#gridAgrupadoPor').is(':visible')){
                 $('#gridAgrupadoPor').hide();
            }
            $.ajax({
                url : "/capturadoresIva/formCapturadoresIva/",
                type : "POST",
                dataType: "json",
                data : {
                    iva : agrupacion,
                    tit: tit,

                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success : function(json) {
                        $('#promocionSinResumir').show();
                        $('#result').text('');
                    },
                    beforeSend: function(){
                        $('#listXAviso').jqGrid('GridUnload'); // Esto es para que recargue el grid con el contenido.

                        $('#result').text( 'Aguarde...');

                    },
                    error : function(xhr,errmsg,err) {
                        //$('#barraProgreso').hide();
                        $('#result').text( '');
                        // the first alert is only for developers
                        //alert(xhr.status + ": " + xhr.responseText); //debug = True
                        alert('Lo sentimos, ha sucedido un error para obtener los datos.');//debug = False
                    }

            });
        }

});


</script>







    {% block navegacion %}
        <div id="navegacion"></div>

    {% endblock %}






{% endblock %}

