{% extends "base.html" %}

{% block title%}
   Ingreso de parametros
{% endblock %}


{% block exportacion %}

{% endblock %}


{%block contenido %}
         <style type="text/css">
            .container{

                margin-top: -10px;
            }

            #centro p {
                margin-top: 0px;


             }
             h3{
                margin-top: 0px;
             }
            #centro{
                width: 60%;
            }


        </style>



<script  type="text/javascript">
function desplegar(a){
        if (a == 2){
            $('#rangoFechas').show('slow');
        }else{
            $('#rangoFechas').hide('slow');
        }
   }
$(document).ready(function(){




    $("#formulario").submit(function() {

       if ($('#errorRangoFechas').is(':visible')){
            $('#errorRangoFechas').hide('slow');
       }
       if ($('.errorFecha').is(':visible')){
            $('.errorFecha').hide('slow');
       }



        band = false; band1 = false; band4=false;
        if ($('#id_fechaDesde').val() === '') {
            $('#fechaDesde').show('slow');

        }else{
            $('#fechaDesde').hide();
            band = true;
        }
        if ($('#id_fechaHasta').val() === '') {
            $('#fechaHasta').show('slow');
        }else{
            $('#fechaHasta').hide();
             band1 = true;
        }




        if (band1 && band) {
            var fechad = $('#id_fechaDesde').val();
            var diad = parseInt(fechad.substring(0,2));
            var mesd = parseInt(fechad.substring(3,5));
            var aniod = parseInt(fechad.substring(6,10));

            fechah = $('#id_fechaHasta').val();
            diah = parseInt(fechah.substring(0,2));
            mesh = parseInt(fechah.substring(3,5));
            anioh = parseInt(fechah.substring(6,10));

            if ((anioh - aniod) == 0){
                if ((mesh - mesd) == 0){
                    if ((diah - diad) < 0) {
                        $('.errorFecha').show('slow');

                    }else{
                        band4 = true;
                    }
                }else{
                    if ((mesh-mesd)>1){
                        $('#errorRangoFechas').show('slow');
                    }else{
                        if ((mesh-mesd)<0){
                          $('.errorFecha').show('slow');
                        }else{
                            if ((diah - diad) >= 0){
                                $('#errorRangoFechas').show('slow');

                            }else{
                                band4 = true;
                            }
                        }
                    }
                }
            }else{
                if ((anioh - aniod) > 1){
                    $('#errorRangoFechas').show('slow');
                }else{
                    if ((anioh - aniod) < 0){
                        $('.errorFecha').hide('slow');
                    }else{
                        if (mesd == 12 && (mesd-mesh) == 11){//caso especial cuando es del diciembre a enero del año siguiente.
                            if ((diah - diad) >= 0){
                                $('#errorRangoFechas').show('slow');
                            }else{
                                band4 = true;
                            }
                        }else{
                            $('#errorRangoFechas').show('slow');
                        }
                    }
                }
            }
        }else {
            if (!$('input:radio[id=id_hoy_1]:checked').val()) {
                    console.log("hoy chequeded")
                    band = true;
                    band1 = true;
                    band4 = true;
                }
        }

        if (band && band1 && band4){
            progreso();
            return true;
        }else{

            return false;
        }
    });


});

</script>







<main id="centro">
      <h3> Avisos Capturados con Tasa de IVA </h3>


<form id='formulario'  class="" method='post' action=''>
   {% csrf_token %}
{#   {{formulario.as_p}}#}

    <p style="margin-top: 2%;">
        <label for="id_hoy_0">D&iacute;a:</label>
        <ul id="id_hoy">

            <li><label for="id_hoy_0"><input id="id_hoy_0" name="hoy" type="radio" value="1" onclick="desplegar(1)" checked="true"/> Hoy</label></li>
            <li><label for="id_hoy_1"><input id="id_hoy_1" name="hoy" type="radio" value="2" onclick="desplegar(2)"/> Otros</label></li>
        </ul>
    </p>
    <div style="display:none" id="rangoFechas">
        <p>
            <label for="id_fechaDesde">Ingese la fecha desde:</label> <input id="id_fechaDesde" name="fechaDesde" type="text" />
        </p>

        <p>
            <label for="id_fechaHasta">Ingese la fecha hasta:</label> <input id="id_fechaHasta" name="fechaHasta" type="text" />
        </p>
    </div>
    <p  style="margin-top: 2%;">
        <label for="id_codRemoto_0">Ingrese codigo remoto:</label>
        <ul id="id_codRemoto">
            <li><label for="id_codRemoto_0"><input id="id_codRemoto_0" name="codRemoto" type="radio" value="1" checked="true"/> Chaco</label></li>
            <li><label for="id_codRemoto_1"><input id="id_codRemoto_1" name="codRemoto" type="radio" value="2" /> Corrientes</label></li>
        </ul>
    </p>

   <center><input type='submit'  value='Consultar' class="btn btn-center"/></center>
</form>
    <div id="barraProgreso">
      <label id="cargando" style="display:none;" >Cargando... </label>

      <div id="progressbar"></div>
    </div>
  </main>

   <div id="navegacion">

        <a href="/">Volver</a>

        <!--<a href="/">Men&uacute; Principal</a>-->



</div>







<script src="{{STATIC_URL}}js/ours/datepicker.js" type="text/javascript"></script>



{% endblock %}